@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type='text']:disabled {
  opacity: 0.6;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.load-spinner {
  border: 2px solid #5a5a5a;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-shine {
  background-image: linear-gradient(
    90deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s load-shine linear infinite;
}

@keyframes load-shine {
  to {
    background-position-x: -200%;
  }
}