@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.collectionBannerFlex, .collectionBannerGrid {
  width: 100%;
  position: relative;
}

.collectionBannerFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 100px 20px;
  min-height: 100vh;
}

.blurrer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(9px);
}